html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.timer {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-family: "Permanent Marker", cursive;

  font-size: 50px;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.field {
  display: flex;
  flex-direction: column;
}

.field:not(:last-child) {
  margin-right: 30px;
}

.label {
  font-family: "Permanent Marker", cursive;
  font-size: 25px;
}

.value {
  font-family: "Alfa Slab One", cursive;
  font-size: 70px;
}
